<!DOCTYPE html>
<html>
    <head><title>TypeScript Greeter</title></head>
    <body>
        <script src="../../node_modules/systemjs/dist/system.js"></script>
        <!--<script src="../../systemjs.config.js"></script>-->

              <script src="../model/animal.js"></script>
              <script src="../run/greeter.js"></script>
        <script>
         /*   System.import("app").catch(function (err) {
                console.error(err);
            });*/
            /*System.config({
                packages: { 'app': { defaultExtension: 'js' } }
            });
            System.import(['../model/animal.js','../run/greeter.js']);*/
        </script>
    </body>
</html>